extends layout

block content
	h1= currentUser.email
	img(src=currentUser.avatar_url)
	h2 Let's get your task list going!
	h3 Your Tasks
	for task in tasks
		form.task-list-item(method='post' action='/tasks/'+task.id)
			div
				if task.completed
					input.checkbox-link(name=Math.random() type='checkbox' data-href="/tasks/"+task.id+"/uncomplete" checked='checked')
				else
					input.checkbox-link(name=Math.random() type='checkbox' data-href="/tasks/"+task.id+"/complete")
				input(type='text' value=task.task name='task[task]')


			p= task.sub_task
			.small=humanizeDate(task.due_date)

			div
				a.btn.btn-default.btn-sm(href="/tasks/"+task.id+"/delete") DELETE





	.row
		.col-xs-6
		.col-sm-4
			h4 Make a Todo
				include ./_new_task_form

		a.btn.btn-default(href='/logout') Logout
